In [1]:
import pandas as pd 

df = pd.read_parquet('scripts/python_go_backups/employees_go.parquet',engine='fastparquet')


df.head()

,companyName,firstName,lastName,email,position,salary
0,Oozz,Albert,Gray,albert.gray@oozz.com,Data Coordinator,89715
1,Oozz,Marie,Clark,marie.clark@oozz.com,Nurse,56082
2,Oozz,Michael,Spencer,michael.spencer@oozz.com,VP Product Management,144097
3,Oozz,Mary,Alvarez,mary.alvarez@oozz.com,VP Marketing,20635
4,Oozz,Earl,Russell,earl.russell@oozz.com,Compensation Analyst,141535

In [2]:
df.shape

(6010343, 6)